[submodule "lib/parsedown"]
	path = lib/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "lib/parsedown-extra"]
	path = lib/parsedown-extra
	url = https://github.com/erusev/parsedown-extra.git
[submodule "lib/featherlight"]
	path = lib/featherlight
	url = https://github.com/noelboss/featherlight.git
[submodule "lib/openwebicons"]
	path = lib/openwebicons
	url = https://github.com/pfefferle/openwebicons
