[submodule "lib/openwebicons"]
	path = lib/openwebicons
	url = https://github.com/pfefferle/openwebicons
[submodule "lib/Magnific-Popup"]
	path = lib/Magnific-Popup
	url = https://github.com/dimsemenov/Magnific-Popup
[submodule "lib/Justified-Gallery"]
	path = lib/Justified-Gallery
	url = https://github.com/miromannino/Justified-Gallery
[submodule "lib/picturefill"]
	path = lib/picturefill
	url = https://github.com/scottjehl/picturefill.git
