/** paginate */

.wp-paginate {
	width:100%;
	clear:both;
	margin-bottom:10px;
}

.wp-paginate li {
	display:inline;
	list-style:none;
}

.wp-paginate a {
	color:#666;
	text-decoration:none;
	font-size:120%;
	text-align:center;
	padding:4px 6px 4px 6px;
	letter-spacing:-0.3em;

}

.wp-paginate a:hover, .wp-paginate a:active {
	color:#ddd;
}

.wp-paginate .title {
	color:#666;
	margin-right:4px;
}

.wp-paginate .gap {
	color:#999;
	margin-right:4px;
}

.wp-paginate .current {
	color:#aaa;
	text-decoration:none;
	font-size:120%;
	text-align:center;
	padding:4px 6px 4px 6px;
	background:#111;
}
