/**
 * Obsidian theme
 *
 * Adapted from a theme based on:
 * http://studiostyl.es/schemes/son-of-obsidian
 *
 * @author Dan Stewart <dan@stewshack.com>
 * @version 1.0
 */

pre, code {
	font-family: monospace;
	text-shadow: none;
}

pre {
	background: #22282A;
	word-wrap: break-word;
	margin: 0px;
	padding: 0.6em;
	color: #999;
	margin-bottom: 1em;
}

pre .comment {
	color: #666;
}

pre .constant {
	color: #EC7600;
}

pre .storage {
	color: #EC7600;
}

pre .string {
	color: #EC7600;
}

pre .comment.docstring {
	color: #EC7600;
}

pre .string.regexp {
	color: #fff;
}

pre .support.tag.script {
	color: #fff;
}

pre .support.tag.style {
	color: #fff;
}

pre .keyword {
	color: #46BA50;
	font-weight: bold;
}

pre .selector {
	color: #93C763;
}

pre .inherited-class {
	font-family: monospace;
	font-style: italic;
}

pre .entity {
	color: #93C763;
}

pre .integer {
	color: #FFCD22;
}

pre .support {
	color: #FACD22;
}

pre .function.call {
	color: #FACD22;
}


pre .variable.global {
	color: #CCC;
}

pre .variable.instance {
	color: #ddd;
}

pre .variable.class {
	color: #eee;
}

/* C# specific rule */
pre .preprocessor {
	color: #66747B;
}
