{% include 'partial_header.html' %}
<section class="content-body h-feed">
	{% if site.atitle %}
	<h1 class="p-name hide">{{ site.atitle }}</h1>
	{% endif %}
	{% if archive.feed %}
	<aside class="follow">
		<a class="icon-subscribe" onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this)" value="Subscribe" data-subtome-resource="{{ archive.url }}" data-subtome-feeds="{{ archive.feed }}" data-subtome-suggested-service-name="Blogtrottr" data-subtome-suggested-service-url="http://blogtrottr.com/?subscribe={feed}" href="#" title="subscribe to {{ archive.url }}">follow{% if site.atitle %} "{{ site.atitle }}"{% endif%}</a>
	</aside>
	{% endif %}
	{% for post in posts %}
		{% if post.format in site.image_formats %}
			{% include 'element-photo.html' with {'post':post} %}
		{% elseif post.format in site.long_formats %}
			{% include 'element-long.html' with {'post':post} %}
		{% else %}
			{% include 'element-short.html' with {'post':post} %}
		{% endif %}
	{% endfor %}
</section>
{% include 'partial_footer.html' %}
