{% include 'block_header_open.html' %}
	<title>{{ taxonomy.name }} | {{ site.domain }}</title>
{% include 'block_header_close.html' %}

<section class="content-body h-feed">
	{% if taxonomy.name %}
	<h1 class="p-name hide">{{ taxonomy.name }}</h1>
	{% endif %}
	{% if taxonomy.description %}
	<aside class="p-summary">{{ taxonomy.description }}</aside>
	{% endif %}
	{% if taxonomy.feed %}
	<aside class="follow">
		<a class="icon-subscribe"
		onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this)"
		value="Subscribe"
		data-subtome-resource="{{ taxonomy.url }}"
		data-subtome-feeds="{{ taxonomy.feed }}"
		data-subtome-suggested-service-name="Blogtrottr"
		data-subtome-suggested-service-url="http://blogtrottr.com/?subscribe={feed}"
		href="https://www.subtome.com/?subs/#/subscribe?resource={{ taxonomy.url|url_encode }}&feeds={{ taxonomy.feed|url_encode }}&suggestedUrl={{ 'http://blogtrottr.com/?subscribe={feed}'|url_encode }}&suggestedName=Blogtrottr"
		title="subscribe to {{ taxonomy.url }}">
			follow{% if taxonomy.name %} "{{ taxonomy.name }}"{% endif%}
		</a>
	</aside>
	{% endif %}
	{% for post in posts %}
		{% include 'element.html' %}
	{% endfor %}
</section>

{% if taxonomy.total > 1 %}

	{# based on: http://dev.dbl-a.com/symfony-2-0/symfony2-and-twig-pagination/ #}
	<nav class="pagination">
		<ul>
	{# display prevous if the taxonomy.paged is not the first #}
	{% if taxonomy.paged > 1 %}
	{% set prev = taxonomy.paged - 1 %}
			<li>
				<a href="{{ taxonomy.pagination_base ~ '/page/' ~ prev }}">«</a>
			</li>
			<li>
				<a href="{{ taxonomy.pagination_base }}">1</a>
			</li>
	{% endif %}

	{% if taxonomy.paged - 4 > 0 %}
			<li>
				<span class="page-numbers dots">…</span>
			</li>
	{% endif %}

	{% for i in range( taxonomy.paged - 2, taxonomy.paged -1 ) if ( i > 1 ) %}
			<li>
				<a href="{{ taxonomy.pagination_base ~ '/page/' ~ i }}">{{ i }}</a>
			</li>
	{% endfor %}

			<li>
				<span class="page-numbers taxonomy.paged">{{ taxonomy.paged }}</span>
			</li>

	{% for i in range( taxonomy.paged + 1, taxonomy.paged  + 2 ) if ( i <= taxonomy.total -1 ) %}
			<li>
				<a href="{{ taxonomy.pagination_base ~ '/page/' ~ i }}">{{ i }}</a>
			</li>
	{% endfor %}

	{% if taxonomy.paged  + 3 < taxonomy.total %}
			<li>
				<span class="page-numbers dots">…</span>
			</li>
	{% endif %}


	{% if taxonomy.paged != taxonomy.total %}
			<li>
				<a href="{{ taxonomy.pagination_base ~ '/page/' ~ taxonomy.total }}">{{ taxonomy.total }}</a>
			</li>
	{% endif %}


			{# display next if the taxonomy.paged is not the last #}
	{% if taxonomy.paged < taxonomy.total %}
	{% set next = taxonomy.paged + 1 %}
			<li>
				<a href="{{ taxonomy.pagination_base ~ '/page/' ~ next }}">»</a>
			</li>
	{% endif %}
		</ul>
	</nav>

{% endif %}

{% include 'block_footer.html' %}
