{% if post.bookmark %}
	{% for reaction in post.bookmark %}
		{% if post.title|length %}
			<span class="p-name">{{ post.title }}</span><br />
			<a href="{{ reaction }}" class="icon-bookmark {{ class }}" title="Bookmarked URL: {{ reaction }}">{{ reaction }}</a>
		{% else %}
			<span class="p-name">
				<strong>URL:</strong>
				<a href="{{ reaction }}" class="{{ class }}">{{ reaction }}</a>
			</span>
		{% endif %}
	{% endfor %}
{% endif %}

{% if post.reply %}
	{% for reaction in post.reply %}
		<span class="p-name">
			<a href="{{ reaction }}" class="icon-reply u-in-reply-to" title="Reply to: {{ reaction }}">{{ reaction }}</a>
		</span>
	{% endfor %}
{% endif %}

{% if post.repost %}
	{% for reaction in post.repost %}
		{% if post.title|length %}
			<span class="p-name">{{ post.title }}</span><br />
			<a href="{{ reaction }}" class="icon-repost u-repost-of" title="Repost of: {{ reaction }}">{{ reaction }}</a>
		{% else %}
			<span class="p-name">
				<a href="{{ reaction }}" class="icon-repost u-repost-of" title="Repost of: {{ reaction }}">{{ reaction }}</a>
			</span>
		{% endif %}
	{% endfor %}
{% endif %}
