{# based on: http://dev.dbl-a.com/symfony-2-0/symfony2-and-twig-pagination/ #}

{% if total > 1 %}
<nav class="pagination">
	<ul>
{# display prevous if the current is not the first #}
{% if current > 1 %}
{% set prev = current - 1 %}
		<li>
			<a href="{{ base_url ~ '/page/' ~ prev }}">«</a>
		</li>
		<li>
			<a href="{{ base_url }}">1</a>
		</li>
{% endif %}

{% if current - 4 > 0 %}
		<li>
			<span class="page-numbers dots">…</span>
		</li>
{% endif %}

{% for i in range( current - 2, current -1 ) if ( i > 1 ) %}
		<li>
			<a href="{{ base_url ~ '/page/' ~ i }}">{{ i }}</a>
		</li>
{% endfor %}

		<li>
			<span class="page-numbers current">{{ current }}</span>
		</li>

{% for i in range( current + 1, current  + 2 ) if ( i <= total -1 ) %}
		<li>
			<a href="{{ base_url ~ '/page/' ~ i }}">{{ i }}</a>
		</li>
{% endfor %}

{% if current  + 3 < total %}
		<li>
			<span class="page-numbers dots">…</span>
		</li>
{% endif %}


{% if current != total %}
		<li>
			<a href="{{ base_url ~ '/page/' ~ total }}">{{ total }}</a>
		</li>
{% endif %}


		{# display next if the current is not the last #}
{% if current < total %}
{% set next = current + 1 %}
		<li>
			<a href="{{ base_url ~ '/page/' ~ next }}">»</a>
		</li>
{% endif %}
	</ul>
</nav>


{% endif %}
