<article class="h-entry h-photo">

	<header>
		<h2>
			<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<span class="p-name">{{ post.title }}</span>
			</a>
		</h2>
		{% include 'ameta_author.html' %}
	</header>

	<div class="e-content">
		{{ post.content }}
		<br class="clear" />
	</div>

	<footer>
		<br class="clear" />
		{% include 'ameta_comments.html' %}
		{% include 'list_tag.html' %}
		{% include 'ameta_pubdate.html' %}
		<br class="clear">
	</footer>

</article>
