<article class="h-entry h-article">

	<header>
		<h2>
			<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
				<span class="p-name more">{{ post.title }}</span>
			</a>
		</h2>
		{% include 'ameta_author.html' %}
		{% include 'ameta_webmention.html' %}
	</header>

	<div class="e-summary">
		{% if post.thumbnail %}
			<img class="article-thumbnail" src="{{ post.thumbnail }}" />
		{% endif %}
		{{ post.excerpt }}
		<br class="clear" />
	</div>

	<footer>
			{% include 'ameta_pubdate.html' %}
			{% include 'ameta_comments.html' %}
			{% include 'ameta_readtime.html' %}
			{% include 'list_tag.html' %}
	</footer>

</article>
