<a href="{{ post.tile_target }}" title="{{ post.title }}" class="h-entry">
	<img src="{{ post.tile_img }}" alt="{{ post.tile_alt }}" class="u-photo" />
	<span class="caption p-name">{{ post.title }}</span>
	<span class="hide">
		<time class="dt-published" datetime="{{ post.pubdate_iso }}">{{ post.pubdate_print }}</time>
		<span class="p-author h-card vcard">{{ post.author.name }}</span>
		{% if post.tags %}
			{% for tname, turl in post.tags %}
				<span class="p-category">{{ tname }}</span>
			{% endfor %}
		{% endif %}
	</span>
</a>
