<article class="h-entry h-article">

	<header>
		<h2>
			<a href="{{ post.url }}" title="{{ post.title }}">
				<span class="p-name more">{{ post.title }}</span>
			</a>
		</h2>
		{% include 'ameta_pubdate.html' %}
		{% include 'ameta_author.html' %}
		{% include 'ameta_webmention.html' %}
	</header>

	<div class="e-summary long">
		{% if post.thumbnail %}
			<img class="article-thumbnail" src="{{ post.thumbnail }}" />
		{% endif %}
		{{ post.excerpt }}
		<a class="inline-more" href="{{ post.url }}" title="{{ post.title }}">
			<span class="more">…</span>
		</a>
		<br class="clear" />
	</div>

	<footer>
		<br class="clear" />
		{% include 'list_tag.html' %}
		<br class="clear" />
	</footer>

</article>
