<article class="h-entry h-{{ post.htype }}">
	<header>
		{% if post.title|length %}
		<h2>
			<a href="{{ post.url }}" title="{{ post.title }}">
				<span class="p-name {% if post.htype == "article" %}more{% endif %}">{{ post.title }}</span>
			</a>
		</h2>
		{% endif %}
		{% include 'ameta_pubdate.html' %}
		{% include 'ameta_author.html' %}
		{% if post.htype != "photo" %}
			{% include 'ameta_webmention.html' %}
		{% endif %}
	</header>

	{% if post.htype == "article" %}
		<div class="e-summary long">
			{% if post.thumbnail %}
				<img class="article-thumbnail" src="{{ post.thumbnail }}" />
			{% endif %}
			{{ post.excerpt }}
			<a class="inline-more" href="{{ post.url }}" title="{{ post.title }}">
				<span class="more">…</span>
			</a>
			<br class="clear" />
		</div>
	{% else %}
		<div class="e-content">
			{{ post.content }}
			<br class="clear" />
		</div>
	{% endif %}

	<footer>
		<br class="clear" />
		{% include 'list_tag.html' %}
		<br class="clear" />
	</footer>

</article>
