<div class="content-inner">
	<article class="h-entry" id="post-{{ post.id }}">

		<header>
			<div class="meta">
				{% include 'ameta_pubdate.html' %}
				{% include 'ameta_author.html' %}
				{% include 'ameta_readtime.html' %}
			</div>
			<h2>
				<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
					<span class="p-name more">{{ post.title }}</span>
				</a>
			</h2>
			{% include 'ameta_webmention.html' %}
		</header>

		<div class="e-summary">
			{% if post.thumbnail %}
				<img class="article-thumbnail" src="{{ post.thumbnail }}" />
			{% endif %}
			{{ post.excerpt }}
			<br class="clear" />
		</div>

	</article>
</div>
