<article class="h-entry h-note">

	<header>
		{% if post.title|length %}
		<h2>
			<a href="{{ post.url }}" title="{{ post.title }}">
				<span class="p-name">{{ post.title }}</span>
			</a>
		</h2>
		{% endif %}
		{% include 'ameta_pubdate.html' %}
		{% include 'ameta_author.html' %}
		{% include 'ameta_webmention.html' %}
	</header>

	<div class="e-content">
		{{ post.content }}
		<br class="clear" />
	</div>

	<footer>
		<br class="clear" />
		{% include 'list_tag.html' %}
		<br class="clear">
	</footer>

</article>