<div class="content-inner">
	<article class="h-entry" id="post-{{ post.id }}">

		<header>
			<div class="meta">
				{% include 'ameta_pubdate.html' %}
				{% include 'ameta_author.html' %}
			</div>
			{% if post.title|e %}
			<h2>
				<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
					<span class="p-name">{{ post.title }}</span>
				</a>
			</h2>
			{% endif %}
			{% include 'ameta_webmention.html' %}
		</header>

		<div class="e-content">
			{{ post.content }}
			<br class="clear" />
		</div>

	</article>
</div>
