<section class="content-comments">

	{% if post.reacji|length > 0 %}
		<h5><a name="reacji"></a></h5>
		<dl>
		{% for reacji, reacjis in post.reacji %}
			<dt>{{ reacji }}</dt>
			<dd><ul>
			{% for like in reacjis %}
			<li id="comment-{{ like.id }}" class="p-comment h-entry comment reacji">
				<span class="hide">
					<time class="dt-published" datetime="{{ reply.pubdate_iso }}">{{ reply.pubdate_print }}</time>
				</span>
				<span class="comment-author p-author h-card vcard">
					<a href="{{ like.author_url }}" title="{{ like.author }}">{{ like.avatar }}</a>
				</span>
			</li>
			{% endfor %}
			</ul></dd>
		{% endfor %}
		</dl>
	{% endif %}

	{% if post.likes|length > 0 %}
		<h5><a name="likes">Liked/faved by:</a></h5>
		<ul class="likes comment-list">
		{% for like in post.likes %}
			<li id="comment-{{ like.id }}" class="p-comment h-entry comment">
				<span class="hide">
					<a class="u-like-of" href="{{ post.url }}">{{ post.title }}</a>
					<time class="dt-published" datetime="{{ reply.pubdate_iso }}">{{ reply.pubdate_print }}</time>
				</span>
				<span class="comment-author p-author h-card vcard">
					<a href="{{ like.author_url }}" title="{{ like.author }}">{{ like.avatar }}</a>
				</span>
			</li>
		{% endfor %}
		</ul>
		<br class="clear" />
	{% endif %}

	{% if post.replies|length > 0 %}
		<h5><a name="comments">Replies:</a></h5>
		<ul class="replies comment-list">
		{% for reply in post.replies %}
			<li id="comment-{{ reply.id }}" class="p-comment h-entry comment">
				<p class="hide">
					<a class="u-in-reply-to" href="{{ post.url }}">{{ post.title }}</a>
				</p>
				<span class="comment-author p-author h-card vcard">
					{% if reply.author_url|length > 0 %}
						<a class="url u-url" href="{{ reply.url }}">
							<h6 class="p-name fn">{{ reply.author }}</h6>
						</a>
					{% else %}
						<h6 class="p-name fn">{{ reply.author }}</h6>
					{% endif %}
					<time class="dt-published" datetime="{{ reply.pubdate_iso }}">{{ reply.pubdate_print }}</time>
				</span>
				<div class="comment-content e-content">
					{{ reply.avatar }}
					{{ reply.content }}
				</div>
				<br class="clear" />
			</li>
		{% endfor %}
		</ul>
		<br class="clear" />
	{% endif %}

</section>
