{% include 'partial_header.html' %}
<section class="content-body">
	<article class="h-entry singular">
		<header {{ post.bgstyle }}>
			<div class="content-inner hide">
				{% include 'ameta_pubdate.html' %}
				{% include 'ameta_author.html' %}
				<h1>
					<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
						<span class="p-name">{{ post.title }}</span>
					</a>
				</h1>
			</div>
		</header>

		<div class="e-content">
			<div class="content-inner">
				{{ post.content }}
				<br class="clear" />
			</div>
		</div>

	</article>
</section>
{% include 'partial_footer.html' %}