
	{% if site.pagination %}
		<section>
			<ul class="page-numbers">
				{% for element in site.pagination %}
					<li>{{ element }}</li>
				{% endfor %}
			</ul>

		</section>
	{% endif %}

	<footer class="content-footer" id="main-footer">
		<div class="limit">
			<nav class="content-contact">
				{% include 'partial_vcard.html' with {'author':site.author} only %}
			</nav>
			<nav class="content-footnotes">
				<ul>
					<!--
					<li>
						<a class="i-paypal" href="https://www.paypal.me/petermolnar/3">Buy me a coffee</a>
					</li>
					<li>
						<a href="https://flattr.com/submit/auto?fid=33lkkr&url=https%3A%2F%2Fpetermolnar.eu%2F" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
					</li>
					-->
					<li>
						<a rel="license" href="/licence" title="Licence" class="i-copyright">copyright notes</a>
					</li>
					<li>
						<a class="i-rss" title="RSS feed" href="{{ site.rss_url }}">RSS</a>
					</li>
					<li>
						<a class="i-wordpress" title="WordPress" href="https://wordpress.org">WordPress</a>
					</li>
				</ul>
				{% include 'partial_search.html' %}
			</nav>
			<span class="hide">
				{{ site.footer }}
			</span>
		</div>
	</footer>

	</body>
</html>
