
	{% if site.pagination %}
		<section>
			{{ site.pagination }}
		</section>
	{% endif %}

	<footer class="content-footer" id="main-footer">
		<div class="limit">
			<nav class="content-contact">
				{% include 'partial_vcard.html' with {'author':site.author} only %}
			</nav>
			<nav class="content-footnotes">
				<ul>
					<li>
						<a class="icon-paypal" href="https://www.paypal.me/petermolnar/3">Buy me a coffee</a>
					</li>
					<!--
					<li>
						<a href="https://flattr.com/submit/auto?fid=33lkkr&url=https%3A%2F%2Fpetermolnar.eu%2F" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
					</li>
					-->
					<li>
						<a rel="license" href="/licence" title="Licence" class="icon-copyright">copyright notes</a>
					</li>
					<li>
						<a class="icon-rss" title="RSS feed" href="{{ site.rss_url }}">RSS</a>
					</li>
					<li>
						<a class="icon-wordpress" title="WordPress" href="https://wordpress.org">WordPress</a>
					</li>
				</ul>
				{% include 'partial_search.html' %}
			</nav>
			<span class="hide">
				{{ site.footer }}
				{% if site.is_user_logged_in %}
				<script>
					window.navigator.registerProtocolHandler('web+action', 'https://petermolnar.eu/indie-config/?handler=%s', 'Peter Molnar');
				</script>
				{% endif %}
			</span>
		</div>
	</footer>

	</body>
</html>
