{% if author.showall %}
	{% set hide = '' %}
{% else %}
	{% set hide = 'hide' %}
{% endif %}
<span class="p-author h-card vcard">
	<img class="photo avatar u-photo u-avatar" src="{{ author.avatar }}" alt="Photo of {{ author.name }}" />
	<a class="fn p-name url u-url" href="{{ author.url }}">{{ author.name }}</a>
	<a rel="me" class="u-email email i-mail" href="mailto:{{ author.email }}" title="{{ author.name }} email address">{{ author.email }}</a>
	{% for silo, url in author.socials %}
		<a rel="me" class="u-{{ silo }} x-{{ silo }} i-{{ silo }} url u-url" href="{{ url }}" title="{{ author.name }} @ {{ silo }}">{{ silo }}</a>
	{% endfor %}
</span>
