{% include 'partial_header.html' %}

<section class="content-body">
	<article class="h-entry singular" id="post-{{ post.id }}" >
		<header {# post.bgstyle #}>
			<h1>
				<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
					<span class="p-name">{{ post.title }}</span>
				</a>
			</h1>
			{% include 'ameta_author.html' %}
			{% include 'ameta_webmention.html' %}
		</header>

		<div class="e-content">
			<div class="content-inner">
				{{ post.content }}
			</div>
		</div>

		<footer>
			<br class="clear" />
			{% include 'list_tag.html' %}
			{% include 'ameta_pubdate.html' %}
			<br class="clear" />
			<span class="u-uid hide">{{ post.uuid }}</span>
		</footer>
	</article>
</section>

{% include 'list_comments.html' %}

<aside class="content-note">
	{% set email = post.author.email %}
	<hr />
	<p>Want to leave a comment or get in touch? Reply with your own blog using <a href="http://indiewebcamp.com/webmention">Webmentions</a>, send an <a href="mailto:{{ email }}">email</a>, or poke me on social media.</p>
</aside>

{% include 'partial_footer.html' %}