{% include 'partial_header.html' %}
<section class="content-body" id="main-content">
	<article class="h-entry" id="post-{{ post.id }}" >
		<header {{ post.bgstyle }}>
			<div class="content-inner">
				{% include 'ameta_pubdate.html' %}
				{% include 'ameta_author.html' %}
				{% include 'ameta_readtime.html' %}
				<h1>
					<a class="u-url" href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
						<span class="p-name">{{ post.title }}</span>
					</a>
				</h1>
			</div>
		</header>

		<div class="e-content">
			<div class="content-inner">
				{{ post.content }}
				<br class="clear" />
			</div>
		</div>

		<footer>
			<div class="content-inner">
				{% include 'ameta_imported.html' %}
				{% include 'list_tag.html' %}
				{% include 'list_reply.html' %}
				{% include 'list_share.html' %}
				{% include 'ameta_footer.html' %}
			</div>
		</footer>
	</article>
</section>
{% include 'partial_footer.html' %}